/* Unscoped: v-html comment content */
.review-changes .review-changes__comment {
	/* text-overflow: ellipsis; */
	/* overflow: hidden; */
	/* white-space: nowrap; */
}

.review-changes .review-changes__comment p {
	display: inline;
	line-height: inherit;
}

.review-changes .review-changes__comment section {
	display: inline;
	line-height: inherit;
}

.review-changes .review-changes__comment table {
	display: inline;
}
